@model Lab.Demo.EF.MVC.Models.CustomerView
<html>
<head>
    <link rel="stylesheet" href="~/css/estilos.css" />
</head>
<body>
    <div class="btn btn-success" style="position:absolute; margin-top:300px; margin-left:650px;">
        <h3>Cliente ingresado correctamente!</h3>
    </div>
    <div style="position:absolute; margin-top:360px; margin-left:650px;"><h3>@Html.ActionLink("Haga click Aquí para Ingresar un nuevo cliente, o actualizar uno existente", "Insert", "Customer")</h3></div>
</body>
</html>