@model Lab.Demo.EF.MVC.Models.CustomerView
@ViewBag.Title <p><h1>Sistema de Clientes</h1></p>

<p>Ha sucedido un error inesperado</p>
<p>Raz&oacute;n: Limite de caracteres para el nuevo nombre excedido</p>
<div>
    <p>@Html.ActionLink("Volver a Update", "update", "Customer")</p>
</div>