@model Lab.Demo.EF.MVC.Models.CustomerView
@ViewBag.Title <p><h1>Sistema de Clientes</h1></p>

<p class="alert-danger" style="font-size:1.2em;"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red;"></span> Se ha detectado un error en la ejecución, contacte al administrador para más informaci&oacute;n. <strong>Error Code: (3312)</strong></p>
