<div>
  <table class="table table-bordered table-dark" style="position:absolute;margin-left: 400px; align-content: left; width: 300px;">
    <thead>
      <tr>
        <th scope="col">CustomerID</th>
        <th scope="col">CompanyName</th>
        <th scope="col">ContactName</th>
        <th scope="col">ContactTitle</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">Region</th>
        <th scope="col">postalCode</th>
        <th scope="col">Country</th>
        <th scope="col">Phone</th>
        <th scope="col">Fax</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of clientes" style="width: 250px; height: 50px;">
          <th scope="row">{{ customer.CustomerID }}</th>
          <td>{{ customer.CompanyName }}</td>
          <td>{{ customer.ContactName }}</td>
          <td>{{ customer.ContactTitle }}</td>
          <td>{{ customer.Address }}</td>
          <td>{{ customer.City }}</td>
          <td>{{ customer.Region }}</td>
          <td>{{ customer.PostalCode }}</td>
          <td>{{ customer.Country }}</td>
          <td>{{ customer.Phone }}</td>
          <td>{{ customer.Fax }}</td>
      </tr>
    </tbody>
  </table>
</div>
